body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.forgot-form {
    text-align: center;
    position: relative;
    padding: 40px 20px;
    width: 500px;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #419be0;
    z-index: 10;
}

.logo img {
    width: 300px;

}

.logo p {
    color: #419be0;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.logo span {
    font-size: 16px;
}

h2 {
    color: #419be0;
    font-size: 26px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 1.4;
}


.input-container {
    display: flex;
    align-items: center;
    background-color: #e3eeff;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px auto;
    width: fit-content;
}

.mail-icon {
    font-size: 20px;
    margin-right: 10px;
}

input[type="email"] {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    padding: 10px;
    width: 250px;
}

.send-button {
    background: linear-gradient(to right, #0077cc, #005bbb);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.send-button::after {
    content: ' »';
    font-size: 18px;
}

.illustration {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    z-index: 1;
}

.illustration img {
    width: 300px;
    margin-bottom: -10px;
}