body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d8be9;
}

.logo img {
    width: 300px;
}


.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.register-container img {
    width: 100px;
    margin-bottom: 15px;
    opacity: 0.4;
}

.register-container h2 {
    color: #7caee3;
    font-size: 32px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    background-color: #d9e8ff;
    font-size: 16px;
}

button {
    width: 300px;
    padding: 15px;
    border-radius: 30px;
    background-color: #4dabff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #399ae5;
}

.illustration {
    position: absolute;
    bottom: 0;
    right: 0;
}

.illustration img {
    width: 400px;
    max-width: 100%;
}

.illustration-background {
    background-image: url("../static/illustration.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    bottom: 0;
    right: 0;

    width: 400px;
    height: 300px;

    z-index: 0;
    opacity: 0.3;
}
