body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    position: relative;
}


.logo {
    position: absolute;
    top: 30px;
    /*right: 30px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #419be0;
}

.logo img {
    width: 300px;
}



.logo span {
    font-size: 16px;
}


.login-container {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex: 1;*/
    z-index: 1;
}

.login-container img {
    width: 80px;
    margin-top: 30px;
}

.login-container h2 {
    margin-top: 10px;
    font-size: 28px;
    color: #10315a;
    letter-spacing: 2px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    width: 300px;
}

input[type="text"],
input[type="password"] {
    padding: 12px 16px 12px 40px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: #e3f0ff;
    color: #333;
    outline: none;
    position: relative;
}

input::placeholder {
    color: #99bcd8;
}

button {
    padding: 14px;
    border: none;
    border-radius: 25px;
    background-color: #4dadf7;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #389be0;
}

.forgot {
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.forgot:hover {
    text-decoration: underline;
}

.illustration {
    /*flex: 1;*/
    /*display: flex;*/
    /*justify-content: flex-end   ;*/
    /*align-items: flex-end;*/
    /*margin-left: 10%;*/
    position: absolute;
    /*bottom: 0;*/
    right: 10%;
}

.illustration img {
    width: 100%;
    max-width: 400px;
    margin: 0 30px 30px 0;
}
.Networking{
    position: absolute;
    /*bottom: 0;*/
    left: 10%;
}
.Networking img{
    width: 400px;
    max-width: 100%;
}