body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: #ffffff;*/
    /*font-family: 'Segoe UI', sans-serif;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    /*position: relative;*/
}

.logo {
    /*position: absolute;*/
    top: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d8be9;
}

.logo img {
    width: 300px;
    margin-bottom: 5px;
}


.register-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-top: 40px;*/
     position:absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex: 1;*/
    z-index: 1;
}

.register-container img {
    width: 100px;
    margin-bottom: 15px;
    opacity: 0.4;
}

.register-container h2 {
    color: #7caee3;
    font-size: 32px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    background-color: #d9e8ff;
    font-size: 16px;
}

button {
    width: 300px;
    padding: 15px;
    border-radius: 30px;
    background-color: #4dabff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #144171;
}

.illustration {
    position:absolute;
    right: 0;
    bottom: 40%;
    /*transform: translateX(-10%);*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: end;*/
    /*!*flex: 1;*!*/
    /*z-index: 1;*/
}

.illustration img {
    width: 400px;
    max-width: 100%;
}
.Networking{
    position: absolute;
    bottom: 40%;
    left: 0;
}
.Networking img{
    width: 400px;
    max-width: 100%;
}